body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: black;
}
*, 
*:before,
*:after {
box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #ffffff;
}
.intro{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/profile.jpg") center no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

}
.intro__title{
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
   }
.intro__suptitle{
font-size: 75px;
color: #000000;
text-align: center;
max-width: 1200px;
}
.header{
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    transition: color .2s linear;
    text-decoration: none;
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #000000;
    text-decoration: none;
    transition: color .1s linear;
}
.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    height: 3px;
    background-color: #9fa8ff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav__link:hover{
    color:#9fa8ff;
}
.header__logo:hover{
    color:#9fa8ff;
}
.nav__link:hover:after{
    opacity: 1;
}
.section{
    width: 100%;
    padding: 80px 0;
    background: url();
}
.section__header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}
.section__suptitle{
    font-size: 24px;
}
.section_title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.section_title:after{
content: "";
display: block;
width: 60px;
height: 3px;
margin: 30px auto;
}

    

footer {
    background-color: black;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    margin: 5px 0;
    color: #9FA8FF;
}

.creators p {
    font-weight: bold;
    color: #5E32A6;
}

.creators ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.creators ul li {
    color: #FFFFFF;
    margin-bottom: 5px;
}
.auth-container {
    margin: 20px;
    text-align: center;
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    padding: 10px;
    margin: 5px;
}

#login-form button, #logout-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.popup-content {
    margin: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}
.profile-container{
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 3%;
}
.name{
    font-size: large;
}
.logout{
    background-color: #9FA8FF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.logout:hover{
    background-color: #7f8cfa;
}